/******* BASIC STYLES *******/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	/*background-color: #FFF;*/
	font-size: 1.2em;
	color: #001f3f;
	display: flex;
	justify-content: center;
}

ul {
	list-style-type: none;
}

button {
  width: 90px;
  height: 30px;
  font-size: 0.8em;
	color: #FFF;
	cursor: pointer;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
}

input,
textarea {
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 3px;
	font-size: 0.8em;
}

p {
	font-size: 0.9em;
}

hr {
	margin: 0 10px;
}

/* new css */
/*$aqua: #7FDBFF;
$olive: #3D9970;
$maroon: #85144b;
$navy: #001f3f;
$silver: #DDDDDD;
$gray: #AAA;
$orange: #FF851B;*/

a {
  text-decoration: none;
  color: #001f3f;
}

/******* MAIN STYLES *******/

.m-font {
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IndexView {
  border-radius: 7px;
  min-width: 600px;
  width: 100%;
  border: 1px solid #E3E3E3;
	background-color: #F5F5F5;
  display: flex;
  flex-direction: column;

}

.IndexView ul {
	padding: 0;
}

.recipe-listing {
	color: #3C763D;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
}

.recipe-listing .detail-toggle {
	cursor: pointer;
	user-select: none;
}

.recipe-details {
	animation-duration: 0.3s;
	animation-name: slideinandout;
	animation-direction: alternate;

  width: 90%;
	color: #000;
  background-color: #FFF;
	border-radius: 5px;
	margin: 3px auto;
	padding: 10px 0;
}


@keyframes slideinandout {
	from {
		/*display: none;*/
		/*height: 0;*/
	}

	to {
		/*height: 500px;*/
		/*display: block;*/
	}
}

.recipe-details h3 {
  padding-top: 2%;
  margin: 3px;
}

.recipe-details ul {
	width: 75%;
	margin: 10px auto;
  /*margin: 0px 0px;*/
  /*padding: 5%;*/
  background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 7px;
}

.recipe-details ul li {
	/*margin-top: 0px;
	margin-bottom: 0px;*/
	margin: 0 auto;
	padding: 0px;
	border-bottom: 1px solid #DDD;
	/*background-color: #3D9970;*/
	/*width: 80%;*/
}

.recipe-details ul li:last-child {
	border-bottom: none;
}

.details-footer {
	margin: 10px 0;
}

.delete-btn {
	background-color: #D9534F;
	border-color: #D43F3A;
}

.delete-btn:active,
.delete-btn:hover {
	background-color: #C9302C;
}

.edit-btn {
	color: #000;
	background-color: #FFF;
	border-color: #CCC;
}

.edit-btn:active,
.edit-btn:hover {
	background-color: #E6E6E6;
}

#new-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-recipe-form {
	animation-duration: 1s;
  animation-name: slidein;

  position: absolute;
  margin-top: 250px;
  padding: 0 15px;
	min-width: 450px;
	text-align: left;
  /*width: 50%;*/
  background-color: $gray;
  z-index: 3;
	border: 1px solid #616161;
	border-radius: 7px;
	background-color: #FFF;
}

@keyframes slidein {
	from {
		margin-top: 0px;
	}

	to {
		margin-top: 250px;
	}
}

.new-recipe-form input {
	width: 90%;
}

.new-recipe-form textarea {
	width: 90%;
}

.new-recipe-header {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-recipe-header p {
	margin-left: 7px;
	margin-right: 7px;
}

.new-recipe-body {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
}

.close-form {
  cursor: pointer;
}

.close-icon {
	cursor: pointer;
}

.AddRecipe {
  border: none;
  border-radius: 15px;
  margin: 15px;
  width: 160px;
  height: 40px;
  font-size: 1.1em;
  /*color: #001f3f;*/
	/*color: #7FDBFF;*/
	color: #FFF;
	background-color: #337AB7;
  cursor: pointer;
	border: 1px solid #2e6da4;
}

.AddRecipe ul {

	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.AddRecipe ul li {
		margin: 10px 0;
}

.AddRecipe:hover {
	background-color: #001f3f;
}

.new-recipe-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.add-recipe-button {
	background-color: #337AB7;
	width: 120px;
}

.add-recipe-button:hover {
	background-color: #001f3f;
}

.close-form-button {
	color: #000;
}
